---
import "../styles/global.css";
---

<header>
	<h2><a href="/">by Bruno Andrade</a></h2>
</header>
<style>
	header {
		margin-top: 10px;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
		color: var(--secondary);
	}
	h2 a {
		text-decoration: none;
	}
  h2 a:visited {
    color: var(--secondary);
  }
  h2 a:hover {
    color: var(--accent);
  }
</style>
