---
---
<style>
  #in_progress {
    align-items: center;
    width: "100%";
    margin-bottom: 64px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
  }

  #in_progress > strong {
    font-size: 40px;
    text-align: center;
  }
</style>
<div id="in_progress">
  <strong>Post em construção</strong>
  Atualizações devem surgir assim que houver progresso suficiente.
</div>
