---
import BaseHead from "../ui/components/BaseHead.astro";

---
<html lang="en">
  <head>
    <BaseHead title="Não Encontrado" />
    <style>
      .not-found {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 35vh;
      }

      .not-found p {
        font-size: 22px;
        color: var(--secondary);
      }

      .home-button {
        display: flex;
        height: 48px;
        width: 192px;
        background: var(--secondary);
        text-decoration: none;
        text-align: center;
        justify-content: center;
        border: 2px rgb(var(--black)) solid;
        border-radius: 20px;
      }

      .home-button span {
        align-self: center;
        font-size: 18px;
        color: var(--white)
      }
    </style>
  </head>
  <body>
    <div class="not-found">
      <p>
        Página Não encontrada
      </p>
      <a class="home-button" href="/">
        <span>
          Retornar ao início
        </span>
      </a>
    </div>
  </>
  </body>
</html>
